:root {
  --paleblue: hsl(243, 100%, 93%);
  --greyblue: hsl(229, 7%, 55%);
  --darkblue: hsl(228, 56%, 26%);
  --verydarkblue: hsl(229, 57%, 11%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--verydarkblue);
  background-image: url("images/bg-desktop.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  color: var(--paleblue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

/* Fylo Section */

.fylo {
  border-radius: 0.6rem 6.5rem 0.6rem 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--darkblue);
  padding: 2.5rem 8.5rem 2.5rem 2.5rem;
}

.logo {
  width: 80%;
}

.icons {
  display: flex;
  gap: 15px;
}

.item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--verydarkblue);
  border-radius: 10px;
  padding: 10px;
  width: 3rem;
  height: 3rem;
}

.item-icon:hover {
  cursor: pointer;
  transform: scale(1.15);
}

/* Left Storage Section */
.left {
  background-color: #fff;
  border-radius: 0.6rem 0.6rem 0;
  color: var(--verydarkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem 0.5rem;
  position: relative;
  top: 25px;
  left: 320px;
  width: 180px;
}

.left::after {
  content: "";
  border-bottom: 25px solid transparent;
  border-right: 25px solid #fff;
  position: absolute;
  bottom: -22px;
  right: 0px;
}

.left h1 {
  font-size: 38px;
  font-weight: 700;
}

.left p {
  opacity: 70%;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

/* Storage Section */

.storage-settings {
  background-color: var(--darkblue);
  border-radius: 0.6rem;
  padding: 2.5rem;
}

.component-disk-storage {
  background-color: var(--verydarkblue);
  border-radius: 10px;
  margin: 1rem 0 0.5rem;
  width: 465px;
  height: 20px;
}

.used-space {
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 10px;
  position: relative;
  top: 0.125rem;
  left: 0.125rem;
  width: 340px;
  height: 16px;
}

.pointer {
  background-color: #fff;
  position: relative;
  top: 0.125rem;
  left: 326px;
  border-radius: 10px;
  width: 12px;
  height: 12px;
}

.amount-storage {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

/* Footer */

.attribution {
  color: var(--paleblue);
  font-size: 11px;
  margin-top: 2rem;
}

.attribution a {
  color: var(--paleblue);
  text-decoration: none;
}

.attribution a:hover {
  color: #fff;
}

@media only screen and (max-width: 500px) {
  body {
    background-image: url("images/bg-mobile.png");
    background-size: cover;
  }

  .wrapper {
    align-items: center;
    flex-direction: column;
    gap: 0rem;
  }

  /* Fylo Section */

  .fylo {
    padding-right: 7rem;
  }

  /* Left Storage Section */
  .left {
    border-radius: 0.6rem 0.6rem 0.6rem;
    top: 13rem;
    left: 0;
    margin: 0 auto;
    width: 180px;
  }

  .left::after {
    border-right: 25px solid transparent;
  }

  /* Storage Section */

  .storage {
    margin-top: -3.5rem;
  }

  .storage-settings {
    padding: 2.5rem 1.5rem;
    width: 326px;
    text-align: center;
  }

  .component-disk-storage {
    width: 280px;
  }

  .used-space {
    width: 220px;
  }

  .pointer {
    left: 206px;
  }

  /* Footer */

  .attribution {
    margin-top: 6rem;
    text-align: center;
  }
}
