:root {
  --gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
  --paleblue: hsl(243, 100%, 93%);
  --greyblue: hsl(229, 7%, 55%);
  --darkblue: hsl(228, 56%, 26%);
  --verydarkblue: hsl(229, 57%, 11%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--verydarkblue);
  background-image: url("images/bg-desktop.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  color: var(--paleblue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 1440px;
  height: 100vh;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Fylo Section */

.fylo {
  border-radius: 0.6rem 6.5rem 0.6rem 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--darkblue);
  padding: 2.5rem 8.5rem 2.5rem 2.5rem;
}

.logo {
  width: 80%;
}

.icons {
  display: flex;
  gap: 15px;
}

.item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--verydarkblue);
  border-radius: 10px;
  padding: 10px;
  width: 3rem;
  height: 3rem;
}

/* Footer */

.attribution {
  color: var(--paleblue);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--paleblue);
  text-decoration: none;
}

.attribution a:hover {
  color: #fff;
}
